@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  display: flex;
  justify-content: space-around;
}

button {
  margin: 8px 0;
}

h1{
  font-family: 'Shrikhand', cursive;

}
/* .form-control {
  display: flex;
  justify-content: center;
} */